<div class="w-100 hrbc-main-container">
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row d-flex" style="text-align: center; margin: 70px auto 35px auto;">
                <div class="col">
                <input type="text" placeholder="Deal ID" class="input-style">
                <button type="button" class="btn btn-large align-center hr-btns segoe-bold ml-4">Search</button>
                </div>
            </div> 
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Drive ID</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Access</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Company</th>
                        <th scope="col">Head Count</th>
                        <th scope="col">Geography</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>