
<div class="container-fluid myspace-bg" >
    <div class="row mt-2 ml-3 justify-content-md-center">
        <div class="col-md-1">
            <img  style="position: relative;margin-right:-20px" src="../../assets/img/myspace1-1.png"><br>
            <label style="color:white">Tanveer S - India</label>
        </div>
        <div class="col-md-11 mt-2">
            <div id="div1" class="card-bg">
               
                <div class="form-row" class="row d-flex align-items-start">
                    
                    <div class="col ">
                        <select class=" btn-radius form-control"  id="activedeal">
                        <option [defaultSelected]=true disabled>Active Deals</option>
                    </select>
                    </div>
                    <div class="col">
                    <select class="btn-radius form-control"  name="baxter"> 
                        <option [defaultSelected]=true disabled>Baxter</option>
                    </select>
                    </div>
                    <div class="col">
                    <select  class="btn-radius form-control"  name="dealType"> 
                        <option [defaultSelected]=true disabled>Deal Type</option>
                    </select>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            
                <div class="row">
                <div class="col-8 " >
                <label style="position:absolute; top: 40px;left: 90px;">5% <br>Offer Declined</label>
                <label style="position:absolute; top: 40px;right: 200px;">50% <br>Joined</label>
                <label style="position:absolute; bottom: -40px;left: 90px;">30% <br>Offer Acceptance Pending</label>
                <label style="position:absolute; bottom: -40px;right: 130px;">15% <br>Offer in Progress</label>
                <img style="position:absolute; top: 40px;left: 150px;" src="../../assets/img/graphs-png-1.png">
                </div>
                <div class="col-4 mt-4" id="wrapper_1">
                    <h6 style="color:white;text-align:center">Overall Contribution</h6><br>
                    <label style="line-height: 1.9;"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Net Headcount Additions - 4000</label>
                    <label style="line-height: 1.9;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Net Offer Released - 6000</label>
                    <label style="line-height: 1.9;"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;Joining Ratio - 66%</label>
                    <label style="line-height: 1.9;"><i class="fa fa-bank"></i>&nbsp;Deals in Queue - 4</label>
                </div>
                </div>
            </div>
            
            
        <div id="div2">      
            <table class="content-table align-baseline  mt-4 ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Deal ID</th>
                        <th>Start Date</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Company</th>
                        <th>Head Count</th>
                        <th>Geography </th>
                    </tr>
                </thead>
                <tbody class="font-segoe">
                    <tr>
                        <td><input type="radio"/></td>
                        <td style="color:#0061F2">GM240719RN</td>
                        <td>24/07/2019</td>
                        <td>Active</td>
                        <td>Rohit Panda</td>
                        <td>Baxter</td>
                        <td>1300</td>
                        <td>USA</td>
                     </tr>     
                </tbody>
            </table>    
        </div>

</div>
</div>
</div>
