<div class="container-fluid access-bg">
    <div class="row  mt-2 justify-content-md-center">
        <div class="col col-lg-2"><input type="text" placeholder="Deal ID"  class="input-text btn-radius form-control"  name="dealID"></div>
        <div class="col col-lg-2"><button type="submit" style=" background: transparent linear-gradient(180deg,#1B1088 0%, #0E0844 100%) 0% 0% no-repeat padding-box;" class="btn btn-primary btn-radius segoe btn-custom">Search</button></div>
        
      </div>
    <div class="row mt-4 justify-content-md-center">
    <table class="content-table align-baseline ">
        <thead>
            <tr>
                <th></th>
                <th>Deal ID</th>
                <th>Start Date</th>
                <th>Access</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Company</th>
                <th>Head Count</th>
                <th>Geography </th>
            </tr>
        </thead>
        <tbody class="font-segoe">
            <tr>
                <td><input type="radio"/></td>
                <td>GM240719RN</td>
                <td>24/07/2019</td>
                <td>Owner</td>
                <td>Closed</td>
                <td>Rajni N</td>
                <td>General Motor</td>
                <td>1300</td>
                <td>India</td>
             </tr>     
        </tbody>
    </table>  
  </div>
 
  </div>
  <div class="container-fluid access-bg1">
    <div class="row  form-group  mt-2 justify-content-md-center">
        <div class="col col-lg-2"><input type="text" placeholder="Enter Employee ID"  class="input-text btn-radius  form-control"  name="dealID"></div>
        <div class="col col-lg-2"><button type="submit" style=" background: transparent linear-gradient(180deg,#1B1088 0%, #0E0844 100%) 0% 0% no-repeat padding-box;" class="btn btn-primary btn-radius segoe btn-custom">Search</button></div>    
      </div>
      <div class="row mt-2 justify-content-md-center">
        <div class="col-xs-4 mt-4">
            <div id="div1">
                <img  style="position: relative;margin-right:-20px" src="../../assets/img/access1.png">
                <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2" style="color:black;border-radius:26px;width:200px;">Benjin Samuel</label>       
            </div>
            
            
        <div id="div2 mt-2">      
                <img  style="position: relative;margin-right:-20px" src="../../assets/img/access2.png">
                <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2 " style="color:black;border-radius:26px;width:200px;">Mani Ram</label>       
        </div>

        </div>
            <div class="col-xs-8  checkboxes card-bg">
               
                 <input type="checkbox" id="value1" value=""><label >Co - Owner</label>
                
                <input type="checkbox" id="value2" value="" ><label >Content</label>
                
                 <input type="checkbox" id="value3" value="" ><label >Evaluation</label>
               
                <input type="checkbox" id="value4"  value="" > <label > Reports</label><br><br>
                
                <input type="checkbox" id="value5" value="" > <label >Team Member</label>
                
                <input type="checkbox" id="value6"  value="" ><label>Deals</label>
               
                 <input type="checkbox" id="value7" value="" ><label>Offer</label>
            </div>
            
      </div>
      
      <div class="row mt-3 justify-content-md-center">
        <div class="col col-lg-2 justify-content-md-center"><button type="submit"  class="btn btn-primary btn-radius segoe btn-custom btn-upload">Add Team</button></div>    
    </div>
    <div class="mt-4 justify-content-md-center card-bg1">
        <h6 style="text-align:center;color:white">Team Access</h6>
        <div class="row ml-4">
        <div class="col-sm-4 mt-4">
            <img  style="position: relative;margin-right:-20px" src="../../assets/img/access3.png">
            <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2 " style="color:black;border-radius:26px;width:200px;">Sunilkumar</label>      
        </div>
        <div class="col-sm-4 mt-4">
              <img  style="position: relative;margin-right:-20px" src="../../assets/img/access5.png">
              <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2 " style="color:black;border-radius:26px;width:200px;">Ratan</label>      
        </div>
        <div class="col-sm-4 mt-4">
              <img  style="position: relative;margin-right:-20px" src="../../assets/img/access7.png">
              <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 px-2 " style="color:black;border-radius:26px;width:200px;">Khyati</label>      
        </div>
        </div>
        <div class="row ml-4">
            <div class="col-sm-4 mt-4">
                  <img  style="position: relative;margin-right:-20px" src="../../assets/img/access4.png">
                  <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2 " style="color:black;border-radius:26px;width:200px;">Abimanyu Nn</label>      
            </div>
            <div class="col-sm-4 mt-4">
                <img  style="position: relative;margin-right:-20px" src="../../assets/img/access6.png">
                <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2 " style="color:black;border-radius:26px;width:200px;">Lorenzo</label>  
            </div>
            <div class="col-sm-4 mt-4">
                <img  style="position: relative;margin-right:-20px" src="../../assets/img/access8.png">
                <label class="btn btn-secondary segoe-bold font-smaller d-inline-flex justify-content-center m-0 p-2 " style="color:black;border-radius:26px;width:200px;">Gayathri Sundaram</label>  
            </div>
            </div>
        <div class="row mt-3 justify-content-md-center">
            <div class="col col-lg-2"><button type="submit" style=" background: transparent linear-gradient(180deg,#DB7B32 0%, #3B341A 100%) 0% 0% no-repeat padding-box;" class="btn btn-primary btn-radius segoe btn-custom">Edit Access</button></div>    
        </div>
    </div>
  </div>
