.offer-bg {
  width: 100%;
  background: transparent linear-gradient(180deg, rgba(18,23,162,0.7) 0%,  rgba(9,12,81,0.7) 100%) 0% 0% no-repeat padding-box;
  transition: all 0.3s;
  border-radius: 19px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 30px;
  margin: 20px;
}

.column-split {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  /* background-color: black; */
  border-radius: 19px;
}

.buttons {
  margin-top: 70px;
}

.auto {
  height: 35px;
  border-radius: 21px;
  background: transparent linear-gradient(180deg, #1B1088 0%, #050032 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-size: 13px;
  margin: 20px;
}

.upload {

  margin: 20px;
  /* padding-left: 7px; */
  border-radius: 21px;
  background: transparent linear-gradient(180deg, #208810 0%,#104408 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-size: 13px;
}
.uclip{
  padding-left: 5px ! important;
  font-size: 13px;
}
.search {
  width: 95%;
  height: 44px;
  border-radius: 21px;
}
.content-table{
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}
.content-table thead tr{
  background-color: #050032;
  color: #ffffff;
  font-weight: bold;

}
.content-table th,
.content-table td{
  padding: 8px 13px;
}
.content-table tbody tr{
  background-color: #ffffff;

}
.offer {
  width: 23%;
  height: 30px;
  border-radius: 20px 20px 0 0 ;
  padding-bottom: 10px;
  padding-left: 10px;
  background: transparent linear-gradient(180deg, #1B1088 0%, #050032 100%) 0% 0% no-repeat padding-box;
  color: white;
  position: relative;
  top:28px;
  z-index: 1;
  font-size: 12px;
  margin-right: 2px;

}
.ret{
  width: 23%;
  height: 30px;
  border-radius: 20px 20px 0 0 ;
  padding-bottom: 10px;
  background: transparent linear-gradient(180deg, rgb(243, 242, 248) 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
  color: black;
  position: relative;
  top:28px;
  z-index: 1;
  font-size: 12px;
  margin-right: 2px;

}
.check{
  position: relative;
  top:2px;
  right:10px;
}

.up{
  height:15%;
  background-color: #050032 ;
  border-radius: 5px 5px 0 0 ;
  position:relative;
  top:70px;

}
.pencil {
  padding-left: 415px;
  padding-top: 15px;
  color: white;
  font-size: 20px;
}
.down{
  height:59%;
  background-color:white;
  border-radius:  0px 0px 5px 5px;
  position:relative;
  top:70px;
}
.generate{
  height: 40px;
  margin: 20px;
  border-radius: 21px;
  background: transparent linear-gradient(180deg,#208810 0%,#104408 100%) 0% 0% no-repeat padding-box;
  color: white;

}
.preview{
  width: 30%;
  height:40px;
  margin-top: 130px;
  margin-left: 5px;
  border-radius: 21px;
  background: transparent linear-gradient(180deg, #1B1088 0%, #050032 100%) 0% 0% no-repeat padding-box;
  color: white;

}
.template{
  width: 90%;
  height:40px;
  margin-top: 130px;
  margin-left: 10px;
  border-radius: 21px;
  background: transparent linear-gradient(180deg, #208810 0%,#104408 100%) 0% 0% no-repeat padding-box;
  color: white;

}
.remove{
  width: 80%;
  height:40px;
  margin-top: 130px;
  margin-left: 10px;
  border-radius: 21px;
  background: transparent linear-gradient(180deg, #BB1010 0%,#5E0808 100%) 0% 0% no-repeat padding-box;
  color: white;
}
table {
  border-collapse: collapse;
}

tr {
  border: none;
}

td {
  border-right: solid 1px black;

  height: 40px;
}
.fa-paperclip:before {
  content: "\f0c6";
  padding-left: 15px;
  font-size: 15px;
}
.creation{
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  bottom: 80px;
  right: 120px;
}
.container {
  width: 100%;
}

.progressbar {
  counter-reset: step;
  width: 150%;
  position: relative;
  right: 50px;
  bottom:30px;
}

.progressbar li {
  list-style: none;
  display: inline-block;
  width: 25%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background: #3aac5d;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #3aac5d;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color:White;

}

.progressbar li.active:before {
  border-color: green;
  color:#17CC23;
  background-color: #17CC23;
}

.progressbar li.active+li:after {
  background-color: white;
}
.btn-custom{
  height:35px;
  font-size: 13px;
}

.btn-long{
  height:35px;
  font-size: 13px;
}


/*udhay added on 23rd june for autocompute*/
.tab-container > .nav-tabs{
  border: none;
}

.tab-container > .nav-tabs > li{
  width: 25%;
  font-size: 13px;
  margin-right: 6px;
  border-bottom: outset 1px black;
}

.tab-container .nav-tabs > .active > a{
  color: white;
  border: none;
  border-radius: 20px 20px 0 0;
  text-align: center;
  background: transparent linear-gradient(180deg, #1B1088 0%, #050032 100%) 0% 0% no-repeat padding-box;
  padding: 5px;
}

.tab-container .nav-tabs a{
  color: black;
  border: none;
  border-radius: 20px 20px 0 0;
  text-align: center;
  background-color: white;
  padding: 5px;
}

.tab-container > .tab-content{
  background-color: white;
}

.modal-content{
  height: fit-content!important;
  top: 0!important;
}

.disabled{
  pointer-events: none;
  opacity: 0.6;
}