

.myspace-bg {
  width: 100%;
  height: 1000px;
  background: transparent linear-gradient(180deg, rgba(18,23,162,0.7) 0%,  rgba(9,12,81,0.7) 100%) 0% 0% no-repeat padding-box;
  transition: all 0.3s;
  border-radius: 19px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 30px;
  margin: 20px;
}
.card-bg{
  background: rgba(0,0,0,0.64) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 350px;
  border-radius: 14px;
  padding: 20px;
  /* padding-left:20px; */
  color: white;
  margin-left: 0px;
  margin-top: 20px;
}


.row1 {
  background: rgba(0,0,0,0.64) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 168px;
  border-radius: 14px;
  padding-top: 17px;
  padding-left:30px;
  color: white;
}

.data {
  display: flex;
  -ms-flex-wra: none;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 98px;
  width: 92%;
}

.notification {
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 37px;
  border-radius: 8px;
  border: 2px solid white;
  text-align: center;
}

.yearly{
  background: #6174D5 0% 0% no-repeat padding-box;
  margin-right: 28px;
  margin-left: 15px;
  border-radius: 21px;
  opacity: 1;
  box-shadow: 0px 10px 6px #00000029;
  position: relative;
  border: solid #BDBDBD 2px;
  width: 100%;
  font-size: 0;
}

.yearly ul li {
  display: inline-block;
}

.tile {
  font-size: 20px;
  width: 20%;
  height: 70%;
  min-height: 22px;
  /* border: 1px #BDBDBD solid; */
  display: inline-block;
  border-left-style: outset;
  /* padding-top: 17px; */
  margin-top: 15px;
  text-align: center;
}

.tile-block-1 {
  border-left-style: none !important;
}

.box-text {
  color: white;
  display: block;
}

.box-5 {
  text-align: center;
  font-size: 14px;
  padding-left: 9px;
  padding-top: 6px;
}

.col-4-box {
  display: block;
  color: white;
  padding-top: 3px;
  font-size: 17px;
}


.fa-caret-down:before {
  content: "\f0d7";
  color: white;
  padding-left: 5px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.status-cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  margin-top: 30px;
}
.card {
  width: 170px;
  height: 240px;
  margin: 0 auto;
  background-color: transparent;
}
.status-card {
  width: 350px;
  height: 200px;
  background-color: transparent;
}
.card-image{
  width: 170px;
  height: 240px;
}
.card-name{
  background: transparent linear-gradient(180deg, #17105E 0%, #28033A 87%, #2A0236 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 6px #00000029;
  border-radius: 21px;
  text-align: center;
  width: 170px;
  height: 60px;
  margin-top: 15px;
  font-size: 12px;
  /* padding-left: 35%;
  padding-right: 25%; */
}
.status-card-image{
  width: 320px;
  height: 190px;
  position: relative;
}
.status-card-name{
  background: transparent linear-gradient(180deg, #17105E 0%, #28033A 87%, #2A0236 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 6px #00000029;
  border-radius: 35px;
  text-align: left;
  width: 320px;
  height: 140px;
  margin-top: -45px;
  font-size: 13px;
  position: absolute;
  color: white;
  line-height: 30px;
  padding-left: 50px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 10px;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
  .status-cards { grid-template-columns: repeat(2, 1fr); }

}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
  .status-cards { grid-template-columns: repeat(3, 1fr); }

}

